/* Global Styles */

html {
    box-sizing: border-box;

    background-color: black;
    opacity: 0.9;
    color: seashell;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    text-align: center;
  }

*,
*:before,
*:after {
    box-sizing: inherit;
  }





/* ------------- Header ------------- */
.mainHeader {
    border-bottom: 1px solid seashell;
    background-color: black;
    position: fixed;
    z-index: 10;
    width: 100%;
}

header img {
    max-height: 50px;
}

.logoNavContainer {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    margin: 0 auto;

}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-left: 1rem;
}

nav ul li a {
    color: white;
}







/* ------------- Main ------------- */
main {
    max-width: 1200px;
    position: relative;
    top: 69px;
    margin: 0 auto;
}

/* Our Mission */

#ourMission {
    background-image: url("../images/img-mission-background.webp");
    background-size: cover;
    background-position: center;
    max-height: 700px;
    padding: 20% 0;
    
}

#ourMission div {
    background-color: black;
    width: 100%;
    padding: 0.1rem 1rem;
}

/* Tea of the Month */
#teaOfTheMonth {
    max-width: 1000px;
    margin: 0 auto;
    padding: 3rem 0;
}

.teaImagesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.teaImagesContainer figure {
    max-height: 200px;
    max-width: 300px;
    margin: 30px 15px;
}

.teaImagesContainer figure img {
    max-width: 100%;
}

.teaImagesContainer figure figcaption {
    margin-top: 5px;
}

/* Locations */

#locations {
    background-image: url("../images/img-locations-background.webp");
    background-size: cover;
    background-position: center;
    padding: 3rem 0;
}

.addresses {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.addresses h3 {
    margin-bottom: 2rem;
}

#locations address {
    background-color: black;
    font-style: normal;;
    margin: 1rem;
    padding: 0.7rem;
    width: 33%;
    max-width: 300px;
    min-width: 210px;
}




/* ------------- Footer ------------- */

.contact {
    position: relative;
    top: 69px;
    padding-top: 1rem;
}

.contact div {
    height: 200px;
}

.contact small p {
    text-align: left;
    padding: 40px 20px;
}




@media only screen and (max-width: 610px) {
    .contact small p {
        text-align: center;
    }

    .logoNavContainer {
        flex-direction: column;
        padding-top: 1rem;
    }

    #ourMission div {
        margin-top: 4rem;
       
    }

    nav ul li {
        display: inline;
        margin: 0 0.5rem;
    }
}
